.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list { 
    display: flex;
    list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.search-box {
  border-bottom: 1px solid black;
  padding: 5px;
  position: absolute;
  right: 20px;
}

.search-box input {
  border: none;
}

.container {
  max-width: 1080px !important;
}

.card { 
  border: none !important;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new {
  font-size: 11px;
  height: 20px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-info {
  font-size: 20px;
  margin-bottom: 5px;
}

.size-dropdown {
  margin: 20px 0 20px 0;
}

.add-button {
  width: 100%;
}